In [1]:
def my_function():
    print("you just called my_function")

In [2]:
my_function()

you just called my_function

In [3]:
def add(x,y):
    z=x+y
    return z

In [4]:
print(add(5,6))

11

In [5]:
def describe_pet(animal_type, pet_name):
    print('\n I have a {}'.format(animal_type))
    print('my cat name is {}'.format(pet_name))

In [6]:
describe_pet('cat','oreo')

 I have a cat
my cat name is oreo

In [7]:
describe_pet(pet_name='oreo', animal_type='cat')

 I have a cat
my cat name is oreo

In [11]:
def maximum(* param):
    y=[]
    for i in param:
        y.append(i)
    z=max(y)
    print(z)

In [12]:
maximum(1,2,3,4)

4

In [14]:
def is_even(x):
    if(x%2==0):
        print("even number")
    else:
        print("odd number")

In [15]:
is_even(5)

odd number

In [1]:
def my_function(param1, param2):
    result =param1+param2;
    return result;
print(my_function(1,2))

3

In [3]:
def add():
    x=int(input("Enter num x"))
    y=int(input("Enter num y"))
    z = x+y
    print(z)
add()

Enter num x -1
Enter num y 1

0

In [4]:
def div(numbers):
    for num in numbers:
        if num%2==0:
            return num

In [5]:
div([1,2,3,4,5,6,7,8,9])

2

In [6]:
def divis(numbers):
    return [num for num in numbers if num%2==0]

In [7]:
divis([1,2,3,4,5,6,7,8,9])

[2, 4, 6, 8]

In [10]:
a=1,2,3,4,True, "Hello"
type(a)

tuple

In [11]:
a,b,c,d=1,2,3,True

In [14]:
type(d)

bool

In [15]:
def cube(x):
    return x*x*x

In [17]:
lambda_cube=lambda x : x*x*x

In [18]:
print(lambda_cube(7))

343

In [19]:
lambda_multiply = lambda x,y : x*y

In [20]:
print(lambda_multiply(3,4))

12

In [21]:
def mod_5(x):
    """This is should be visible in documnettaion of function mod_5"""
    return x%5

In [23]:
mod_5.__doc__

'This is should be visible in documnettaion of function mod_5'

In [24]:
help(max())

TypeError: max expected at least 1 argument, got 0

In [26]:
print(
    'which is biggest number?',
    max(100,51,14),
    'which is the biggest modulo 5?',
    max(100,51,14, key=mod_5),
    sep='\n'
)

which is biggest number?
100
which is the biggest modulo 5?
14

In [33]:
list2=[1,2,3,4,1,2]
list1=list(map(lambda x: x*3, list2))# map function returns iterables,here creating list out of iterable
for elment in list1:
    print(elment)

3
6
9
12
3
6

In [34]:
list2=[1,2,3,4,1,2]
set1=set(map(lambda x: x*3, list2))# map function returns iterables,here creating set out of iterable
for elment in set1:
    print(elment)

9
3
12
6

In [37]:
lambda_sqaure=lambda x: x**2

In [38]:
def square_fun(x):
    return x**2

In [41]:
a=map(square_fun, [1,2,3,4])#map function returns iterable, here we referring the iterable by identifier 'a'
for i in a:# iterating through the iterable referred by identifier 'a'
    print(i)

1
4
9
16

In [44]:
lst=range(20)
lambda_iseven = lambda x:x%2==0
iterable_1=filter(lambda_iseven, lst)# filter takes function which does some test, applies test on iterable and
#returns the new iterable
for i in iterable_1:
    print(i)

0
2
4
6
8
10
12
14
16
18

In [45]:
lst = range(20)
evenlst = filter(lambda x: x>15 and x%2==0, lst)
for i in evenlst:
    print(i)

16
18

In [47]:
def DivisbleBy_3(a):
    """this fun return number if it is div by 3"""
    if a %3 ==0:
        return a
lst = range(-10,10)
#print(list(filter(DivisbleBy_3, lst)))
for i in filter(DivisbleBy_3, lst):
    print(i)

-9
-6
-3
3
6
9

In [63]:
#PrintDivisbleBy_3 does not return anything , hence filter method actually returns empty iterable
def PrintDivisbleBy_3(a):
    """this fun return number if it is div by 3"""
    if a %3 ==0:
        print('inside Print',a)

lst = range(-10,10)
lst3=list(filter(PrintDivisbleBy_3, lst))
print(lst3)
for i in lst3:
    print('inside for loop on iteratable')
    print(i)

inside Print -9
inside Print -6
inside Print -3
inside Print 0
inside Print 3
inside Print 6
inside Print 9
[]

In [66]:
#DivisbleBy_3 returns number (non zero number is True in python) , hence filter method returns iterable with all the elements
# that satisfy condition and value is returned from  of lst list
def DivisbleBy_3(a):
    """this fun return number if it is div by 3"""
    if a %3 ==0:
        return a

lst = range(-10,10)
lst3=list(filter(DivisbleBy_3, lst))
print(lst3)
for i in lst3:
    print(i)

[-9, -6, -3, 3, 6, 9]
-9
-6
-3
3
6
9

In [67]:
#DivisbleBy_3_Return_0 returns 0 number (zero number is False in python) , hence filter method returns empty iterable 

def DivisbleBy_3_Return_0(a):
    """this fun return number if it is div by 3"""
    if a %3 ==0:
        return 0
lst = range(-10,10)
lst3=list(filter(DivisbleBy_3_Return_0, lst))
print(lst3)
for i in lst3:
    print(i)

[]

In [58]:
e=[1,2,3,4,5]
f=['a','b','c','d']
dict(zip(e,f))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [72]:
d = {'a': 10, 'b': 20, 'c': 5, 'd': 8, 'e': 5}
# sort by value
print(sorted(d.items(), key=lambda x: x[1]))

[('c', 5), ('e', 5), ('d', 8), ('a', 10), ('b', 20)]

In [76]:
lst = [1, 2, 3]
doubled = [num*2 for num in lst]
print(doubled)

[2, 4, 6]

In [77]:
d = [1, 2, 1, 3]
a = [each for each in d if each==1]
print(a)

[1, 1]